body {
background:linear-gradient(to right,#645d69,#f5f4f4);
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
padding: 10px 10%;
}
.form {
padding: 10px 30px 10%;
background: white;
border-radius: 5px;
min-height: 75vh;

}
.text1{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
padding-bottom: 5px;
font-weight: bold;
}

.custom-input {
height: 30px;
line-height: 30px;
width: 99.2%;
font-size: 18px;
border: 2px solid #494949;
border-radius: 5px;
margin-bottom: 5px;
}

.submit{
    height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.btn{
    background:linear-gradient(to right,#645d69,#f5f4f4);
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: black;
    cursor: pointer;
    border-radius: 0.25px;
    position: relative;
    transition: all .6s;
  }
  
  .btn:hover{
   border-radius: 35px 0;
  }
  
  .btn::before{
    content:  '';
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(to right,#645d69,#f5f4f4);
    width: 100%;
    height: 100%;
    filter: blur(30px);
    transform: scale(0.9,0.8)translate(20px);
    opacity: 0;
    transition: all .10s;
    z-index: 2;

  }
  .btn:hover::before{
    opacity: 1;  
  }